#   Model Inference

Author: Muhammad Daffa Al Rasyid

In [1]:
#import library

import pickle
import json
import pandas as pd
import numpy as np

In [2]:
#Load file Model

with open('model_lin.pkl','rb') as file_1:
  model_lin = pickle.load(file_1)

with open('model_scaler.pkl','rb') as file_2:
  model_scaler = pickle.load(file_2)

with open('model_encoder.pkl', 'rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('list_num_column.txt', 'rb') as file_4:
  list_num_column = pickle.load(file_4)

with open('list_cat_col.txt', 'rb') as file_5:
  list_cat_col = pickle.load(file_5)

In [3]:
#Create new data

data_new = {
    'age':30,
    'sex':'male',
    'bmi':40,
    'children':2,
    'smoker':'yes',
    'region':'southwest'
}

In [4]:
#Convert to data frame
data_inf = pd.DataFrame([data_new])
data_inf

   age   sex  bmi  children smoker     region
0   30  male   40         2    yes  southwest

In [5]:
data_inf_num = data_inf[list_num_column]
data_inf_cat = data_inf[list_cat_col]
data_inf_cat

  smoker
0    yes

In [6]:
# Scaling and Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)

# Concat numerical and categorical
data_inf_final = np.concatenate([data_inf_num_scaled,data_inf_cat_encoded],axis=1)

In [7]:
# Predict using Linear Regression
y_pred_inf = model_lin.predict(data_inf_final)

print('Charges:',round(y_pred_inf[0], 2))

Charges: 33083.69